*{
  background: #FFFFFF;
}

.divisor{
  position: relative;
  background: #E4E4E4;
  height: 4px; 
  width: 98%;
  margin: 6px 15px;
}

.topnav a{
  height: 45px;
  width: 190px;
  margin: 2px 0px 2px 19px;
  padding: 6px;
  float: left;
  background: #E4E4E4;

  text-decoration: none;
  font-family: Open Sans Hebrew;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;
  align-items: center;
  text-align: center;
  color: #000000; /*cor da fonte*/
}

.loginlink a{
  float: right;
  font-weight: bold;
  background: #74B6E4;
  color: #FFFFFF;
}

.cadastrolink a{
  float: right;
  font-weight: bold;
  background: #3470BF;
  color: #FFFFFF;
}

.main-facade{
  height: 600px;
  margin-top: 50px;
  display: inline-block;
}

.main-facade img{
  height: auto;
  margin: 50px;
}

.ads{
  height: 300px;
}

.ads p{
  height: 150px;
  margin-top: 75px;
  width: 33%;
  padding: 50px 100px;
  display: inline-block;

  font-family: Open Sans Hebrew;
  font-style: normal;
  font-weight: 200;
  font-size: 28px;
  line-height: 48px;
  align-items: center;
  text-align: justify;
}

.about{
  position: relative;
  width: 85%;
  height: 440px;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: 120px;
}

.about h2{
  margin: 25px 0px;
  font-family: Open Sans Hebrew;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 95px;
  align-items: center;
  text-align: justify;
  color: #0038AB;
}

.about p{
  margin: 0px 0px 30px 0px;
  font-family: Open Sans Hebrew;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 48px;
  align-items: center;
  text-align: justify;
  color: #8C8C8B;
}

.methodology{
  position: relative;
  width: 85%;
  height: 700px;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: 120px;
}

.methodology h2{
  margin: 25px 0px;
  font-family: Open Sans Hebrew;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 95px;
  align-items: center;
  text-align: justify;
  color: #0038AB;
}

.methodology img{
  margin-left: 250px;
  margin-top: 50px;
}

.courses{
  position: relative;
  width: 85%;
  height: 600px;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: 120px;
}

.courses h2{
  margin: 25px 0px;
  font-family: Open Sans Hebrew;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 95px;
  align-items: center;
  text-align: justify;
  color: #0038AB;
}

.courses img{
  margin-left: 570px;
  margin-top: 30px;
}

.teste {
  position: absolute;
  width: 85%;
  height: 1200px;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: 120px;
}

iframe {
  width: 100vw;
  height: 56.25vw;
  max-height: 100vh;
  max-width: 177.78vh;
  margin: auto;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0; 
}

@media screen and (min-width: 640px){
  /*header{
    height: 120px;
  }*/
  body{
    height: 120px;
  }
  iframe{
    top: 120px;
  }
}

.contact {
  position: absolute;
  width: 85%;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 1px;
  margin-left: 120px;
}

.contact img{
  height: 100px;
  margin-left: 660px;
  margin-top: 1x;
  margin-bottom: 1px;
}