<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Usuário</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/aulasStyle.css">
    <link src="lateral.html">
</head>

<body>
    <main class="cards">
        <section class="card curso">
            <div>
                <span>Vídeo-aulas disponibilizadas pelos idealizadores e colaboradores do Projeto de Extensão Saúde em LIBRAS. Todos os direitos reservados.</span>
            </div>
        </section>
        <div>
            <iframe src="https://drive.google.com/file/d/1hjJVpEvQcQYJAU3wAnT1cQd8W9OiotT1/preview" allow="autoplay"></iframe>
        </div>
    </main>
</body>
</html>