<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
    <title>Cadastro Form</title>
    <link rel="stylesheet" href="../css/cadastroStyle.css">
</head>
<body>
    <main class="container">
        <h1>ELIS</h1>
        <p>Ensino de Libras Interativo na Saúde</p>
        <h2>Cadastro</h2>
        <form action="">
            <div class="input-field">
                <input type="text" name="username" id="username"
                    placeholder="Nome Completo">
                <div class="underline"></div>
            </div>

            <div class="number">
                <input type="text" name="text" id="data"
                    placeholder="Data de Nascimento">
                <div class="underline"></div>
            </div>

            <div class="ocupação">
                <input type="text" name="ocupação" id="ocupação"
                    placeholder="Ocupação">
                <div class="underline"></div>
            </div>

            <div class="email">
                <input type="email" name="email" id="email"
                    placeholder="Email">
                <div class="underline"></div>
            </div>

            <div class="senha">
                <input type="password" name="password" id="password"
                    placeholder="Senha">
                <div class="underline"></div>
            </div>

            <div class="confirmar">
                <input type="password" name="password" id="password"
                    placeholder="Confirmar senha">
                <div class="underline"></div>
            </div>

            <div class="campo">
                <input type="checkbox" id="política" name="política" value="política" required>
                <label for="concordo">Concordo com a Política de Privacidade<br>e Termos de Uso</label>
            </div>

            <input type="submit" value="Cadastrar">
        </form>
    </main>
</body>
</html>