<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Usuário</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/usuarioStyle.css">
    <link src="lateral.html">
</head>

<body>
    <main class="cards">
        <section class="card curso">
            <div class="icon">
                <img src="../images/la.jpg" alt="Shop here.">
            </div>
            <h3>LIBRAS para Anamnese</h3>
            <span>Aprenda anamnese em Libras agora mesmo!</span>
            <button>Começar!</button>
        </section>
    </main>
</body>
</html>

